<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FakeServiceClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="MsSqlService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.web>
    <compilation debug="true" />
  </system.web>

  <appSettings>
    <add key="ExternalServicesPath" value="." />
    <add key="DashboardUrl" value="http://[Your external address]:8000/Dashboard" />
    <add key ="LogUrl" value="http://[Your external address]:8000/Log" />
  </appSettings>

  <connectionStrings>
    <add name="CloudFoundryDataContext" connectionString="Data Source=[Your server address],1433;Initial Catalog=master;User ID=user;Password=pass;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="CloudFoundryServiceBroker.CloudFoundryServiceBroker" behaviorConfiguration="serviceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/MsSqlServiceBroker/" />
          </baseAddresses>
        </host>
        <!--                  
        bindingConfiguration="NoSecurityBinding"
        bindingConfiguration="TransportSecurityBinding"
        -->
        <endpoint binding="webHttpBinding"
                 bindingConfiguration="TransportSecurityBinding"
                 behaviorConfiguration="webHttp"
                 contract="CloudFoundryServiceBroker.ICloudFoundryServiceBroker">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <!--<endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="False"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
          <!--<serviceAuthorization serviceAuthorizationManagerType="CloudFoundryServiceBroker.CustomAuthorizationManager,CloudFoundryServiceBroker" />-->
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="CloudFoundryServiceBroker.CustomCredentialsManager,CloudFoundryServiceBroker"/>
            <!--<serviceCertificate findValue="‎localhost" storeLocation="LocalMachine" x509FindType="FindBySubjectName" />-->
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="NoSecurityBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="TransportSecurityBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="TransportCredentialOnly" >
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>

  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information,ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\Temp\MSSqlServiceBroker.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="xml"/>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>-->
  <applicationSettings>
    <MsSqlService.Properties.Settings>
      <setting name="SqlServerUrl" serializeAs="String">
        <value>[Your external SQL server address]</value>
      </setting>
      <setting name="SqlServerPort" serializeAs="String">
        <value>[Your external SQL server port]</value>
      </setting>
    </MsSqlService.Properties.Settings>
    <FakeServiceClient.Properties.Settings>
      <setting name="FakeServiceUid" serializeAs="String">
        <value>6779bb74-360f-4bd2-83b6-cca39e00687f</value>
      </setting>
      <setting name="FakePlanUid" serializeAs="String">
        <value>39abf3c3-27f5-4ca8-854b-6ddad64e5f09</value>
      </setting>
      <setting name="BaseUrl" serializeAs="String">
        <value>http://localhost:8000/</value>
      </setting>
      <setting name="UseMetadata" serializeAs="String">
        <value>True</value>
      </setting>
    </FakeServiceClient.Properties.Settings>
  </applicationSettings>
</configuration>